{{ define "main" }}
{{ $banner := index .Params.images 0 }}
{{ $firstMapLayer := print "images/mapas/mapa-" .Params.mapa "-1.png" }}
{{ $secondMapLayer := print "images/mapas/mapa-" .Params.mapa "-2.png" }}
<div class="hidden relative bg-center bg-cover bg-no-repeat h-screen text-white md:block" style='background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 100%), url({{ $banner | absURL }});' title="{{ .Params.photo_credit }}">
  <div class="px-4 absolute w-full" style="top: 50%; transform: translateY(-50%)">
    <div class="w-full mx-auto text-center font-playfair-display md:w-2/3 lg:w-1/2">
      <h1 class="font-bold text-4xl leading-tight lg:text-5xl">{{ .Title }}</h1>
      <p class="mt-4 italic text-lg lg:text-xl">{{ .Description }}</p>
    </div>
  </div>
  <div class="px-4 pb-10 absolute w-full bottom-0">
    <div class="max-w-md mx-auto text-center font-playfair-display text-base lg:text-lg">
      <img class="invert mx-auto" src='{{ "images/separador.svg" | absURL }}' alt="">
      <p class="font-bold mt-4">{{ T "written_by" }}: {{ .Params.author }}</p>
      {{ if .Params.translator }}
        <p class="font-bold">{{ .Params.translator }}</p>
      {{ end }}
    </div>
  </div>
</div>
<div class="text-eerie-black font-playfair-display md:hidden">
  <div class="relative w-full" style="padding-bottom: 56.25%;">
    <img class="absolute top-0 left-0 w-full h-full object-cover object-center" src="{{ $banner | absURL }}" alt="">
  </div>
  <div class="px-4 font-playfair-display pb-10 mt-2">
    <p class="text-gray-700 text-right text-sm font-georgia leading-tight">{{ .Params.photo_credit }}</p>
    <h1 class="font-bold text-3xl leading-tight mt-10">{{ .Title }}</h1>
    <p class="mt-4 italic text-lg">{{ .Description }}</p>
    <div class="text-center text-sm mt-10">
      <img class="mx-auto" src='{{ "images/separador.svg" | absURL }}' alt="">
      <p class="font-bold mt-4">{{ T "written_by" }}: {{ .Params.author }}</p>
      {{ if .Params.translator }}
        <p class="font-bold">{{ .Params.translator }}</p>
      {{ end }}
    </div>
  </div>
</div>
<div class="w-full step relative md:h-screen" style="padding-bottom: 56.25%">
  <img class="absolute w-full h-full object-center object-cover" src="{{ $firstMapLayer | absURL }}" alt="" id="first-layer">
  <img class="absolute w-full h-full object-center object-cover" src="{{ $secondMapLayer | absURL }}" alt="" id="second-layer" style="opacity: 0;">
</div>
<div class="px-4 py-24 markup-container">
  <div class="markup">
    {{ .Content }}
  </div>
  <div class="text-center mt-10">
    <button target="_blank" class="inline-block border-eerie-black border-2 px-2 py-1 mt-4 text-xl font-bold" onclick="window.scroll({ top: 0, behavior: 'smooth' })">Volver al inicio</button>
  </div>
</div>
{{ end }}

{{ define "scripts" }}
<script src='{{ "vendors/scrollmagic/scrollmagic.min.js" | absURL }}'></script>
{{ $historias_js := resources.Get "js/historias.js" | minify }}
<script src="{{ $historias_js.Permalink }}"></script>
{{ end }}