{{ define "main" }}
{{ partial "datos_nav.html" . }}
<div class="px-4 mt-24 pb-24 bg-titan-white">
  <div class="w-full md:w-4/5">
    <div class="markup-container">
      <div class="markup">
        {{ .Content }}
      </div>
    </div>
  </div>
  <div class="px-4 mt-24 flex justify-start overflow-x-auto space-x-8 md:justify-center">
    <a class="flex-shrink-0 w-64 py-8 px-8 font-playfair-display leading-none font-bold border border-eerie-black text-center text-eerie-black text-xl lg:text-2xl" href='{{ relref . "mapas.md" }}'>Navega los mapas</a>
    <a class="flex-shrink-0 w-64 py-8 px-8 font-playfair-display leading-none font-bold border border-eerie-black text-center text-eerie-black text-xl lg:text-2xl" href='{{ relref . "graficos.md" }}'>Explora los gráficos</a>
    <a class="flex-shrink-0 w-64 py-8 px-8 font-playfair-display leading-none font-bold border border-eerie-black text-center text-eerie-black text-xl lg:text-2xl" href='{{ relref . "descargar.md" }}'>Datos</a>
  </div>
</div>
{{ partial "bottom.html" . }}
{{ end }}