{{ define "main" }}
  {{ partial "datos_nav.html" . }}
  {{ if .Params.appUrl }}
    <iframe id="app" src="{{ .Params.appUrl }}" class="w-full border-none"></iframe>
  {{ else }}
    <div class="px-4 mt-24 pb-24 bg-titan-white">
      <div class="mx-auto w-full md:w-4/5">
        <div class="markup-container text-center">
          <div class="markup">
            {{ .Content }}
          </div>
        </div>
        <div class="px-4 mt-24 font-playfair-display font-bold grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
          <a download class="flex items-center justify-center px-8 py-4 leading-none border border-eerie-black text-center text-eerie-black text-lg lg:text-xl" href="">Censo población indígena en Colombia, DANE, 2018</a>
          <a download class="flex items-center justify-center px-8 py-4 leading-none border border-eerie-black text-center text-eerie-black text-lg lg:text-xl" href="">Pueblos indígenas en riesgo de desaparición en Colombia (número de habitantes)</a>
          <a download class="flex items-center justify-center px-8 py-4 leading-none border border-eerie-black text-center text-eerie-black text-lg lg:text-xl" href="">Resguardos indígenas en Colombia</a>
          <a download class="flex items-center justify-center px-8 py-4 leading-none border border-eerie-black text-center text-eerie-black text-lg lg:text-xl" href="">Cultivos ilícitos de hoja de coca en resguardos indígenas (hectáreas)</a>
          <a download class="flex items-center justify-center px-8 py-4 leading-none border border-eerie-black text-center text-eerie-black text-lg lg:text-xl" href="">Líderes y lideresas de los pueblos indígenas asesinados entre 2016 y 2019</a>
          <a download class="flex items-center justify-center px-8 py-4 leading-none border border-eerie-black text-center text-eerie-black text-lg lg:text-xl" href="">Situaciones de riesgo en pueblos indígenas de frontera (2018-2019). Alertas Tempranas de la Defensoría del Pueblo</a>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}

{{ define "scripts" }}
  <script src='{{ "vendors/iframe-resizer/iframeResizer.min.js" | absURL }}'></script>
  <script>
    const app = document.getElementById('app')
    if (app) iFrameResize({ heightCalculationMethod: 'lowestElement' }, '#app')
  </script>
{{ end }}