{{ define "main" }}
  {{ partial "datos_nav.html" . }}
  {{ if .Params.appUrl }}
    <iframe id="app" src="{{ .Params.appUrl }}" class="w-full border-none"></iframe>
  {{ else }}
    <div class="px-4 mt-24 pb-24 bg-titan-white">
      <div class="mx-auto w-full md:w-4/5">
        <div class="markup-container text-center">
          <div class="markup">
            {{ .Content }}
          </div>
        </div>
        <div class="px-4 mt-24 font-playfair-display font-bold grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
          <a download class="flex items-center justify-center px-8 py-4 leading-none border border-eerie-black text-center text-eerie-black text-lg lg:text-xl" href="https://ap-mujer-palabra-resistencia.s3.amazonaws.com/data_poblacio%CC%81n_indi%CC%81gena_Colombia.xlsx">Censo población indígena en Colombia, DANE, 2018</a>
          <a download class="flex items-center justify-center px-8 py-4 leading-none border border-eerie-black text-center text-eerie-black text-lg lg:text-xl" href="https://ap-mujer-palabra-resistencia.s3.amazonaws.com/data_pueblos_riesgo_desaparicio%CC%81n.xlsx">Pueblos indígenas en riesgo de desaparición en Colombia (número de habitantes)</a>
          <a download class="flex items-center justify-center px-8 py-4 leading-none border border-eerie-black text-center text-eerie-black text-lg lg:text-xl" href="https://ap-mujer-palabra-resistencia.s3.amazonaws.com/data_resguardos_indi%CC%81genas.xlsx">Resguardos indígenas en Colombia</a>
          <a download class="flex items-center justify-center px-8 py-4 leading-none border border-eerie-black text-center text-eerie-black text-lg lg:text-xl" href="https://ap-mujer-palabra-resistencia.s3.amazonaws.com/data_cultivos_ili%CC%81citos_resguardos.xlsx">Cultivos ilícitos de hoja de coca en resguardos indígenas (hectáreas)</a>
          <a download class="flex items-center justify-center px-8 py-4 leading-none border border-eerie-black text-center text-eerie-black text-lg lg:text-xl" href="https://ap-mujer-palabra-resistencia.s3.amazonaws.com/data_li%CC%81deres_indi%CC%81genas_asesinados.xlsx">Líderes y lideresas de los pueblos indígenas asesinados entre 2016 y 2019</a>
          <a download class="flex items-center justify-center px-8 py-4 leading-none border border-eerie-black text-center text-eerie-black text-lg lg:text-xl" href="https://ap-mujer-palabra-resistencia.s3.amazonaws.com/data_alertas_tempranas_Defensori%CC%81a_de_Pueblo.xlsx">Situaciones de riesgo en pueblos indígenas de frontera (2018-2019). Alertas Tempranas de la Defensoría del Pueblo</a>
          <a download class="flex items-center justify-center px-8 py-4 leading-none border border-eerie-black text-center text-eerie-black text-lg lg:text-xl" href="https://ap-mujer-palabra-resistencia.s3.amazonaws.com/data_pueblos_descripcio%CC%81n.xlsx">Datos de la población indígena que hay en Colombia distribuida por pueblos nativos u originarios</a>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}

{{ define "scripts" }}
  <script src='{{ "vendors/iframe-resizer/iframeResizer.min.js" | absURL }}'></script>
  <script>
    const app = document.getElementById('app')
    if (app) iFrameResize({ heightCalculationMethod: 'lowestElement' }, '#app')
  </script>
{{ end }}