<footer class="px-4 py-8 bg-eerie-black text-white">
  <div class="w-full mx-auto grid gap-8 grid-cols-1 md:w-4/5 md:grid-cols-3">
    <div class="flex items-center justify-center">
      <img src='{{ "images/agenda-propia.svg" | absURL }}' alt="">
    </div>
    <div class="flex flex-col space-y-2 items-center justify-center">
      <p class="font-bold text-2xl text-center">Comparte</p>
      <div class="flex items-center space-x-4">
        <a href="" target="_blank" rel="noopener noreferrer">
          <img src='{{ "images/tw.svg" | absURL }}' alt="">
        </a>
        <a href="">
          <img src='{{ "images/mail.svg" | absURL }}' alt="">
        </a>
        <a href="" target="_blank" rel="noopener noreferrer">
          <img src='{{ "images/fb.svg" | absURL }}' alt="">
        </a>
      </div>
    </div>
    <div class="flex flex-col justify-center items-center">
      <div class="max-w-sm md:w-64">
        <div class="flex items-center space-x-4">
          <img class="w-8" src='{{ "images/cc_1.svg" | absURL }}' alt="">
          <img class="w-8" src='{{ "images/cc_2.svg" | absURL }}' alt="">
          <img class="w-8" src='{{ "images/cc_3.svg" | absURL }}' alt="">
        </div>
        <p class="text-sm leading-tight mt-4">Todo el material en esta página, cuando no se indique lo contrario, es <a class="underline" href="https://creativecommons.org/licenses/by-sa/3.0/deed.es" target="_blank" rel="noopener noreferrer">CC-BY-SA</a>. Si reúsas o adaptas recursos de esta página, por favor vincúlalos y referéncialos.</p>
      </div>
    </div>
  </div>
</footer>