{{ $static_pages := (slice "sobre" "datos") }}
{{ $dynamic_pages := (slice "pueblo" "historias") }}
{{ $static := in $static_pages .Type }}
{{ $dynamic := in $dynamic_pages .Type }}

{{ $baseClass := "px-4 py-2 bg-eerie-black w-full z-10" }}

{{ if $static }}
  {{ $baseClass = print $baseClass " " "static" }}
{{ else }}
  {{ if $dynamic }}
    {{ $baseClass = print $baseClass " " "static md:absolute md:bg-opacity-85" }}
  {{ else }}
    {{ if .IsHome }}
      {{ $baseClass = print $baseClass " " "fixed bg-opacity-85" }}
    {{ else }}
      {{ $baseClass = print $baseClass " " "absolute bg-opacity-85" }}
    {{ end }}
  {{ end }}
{{ end }}

<header class="{{ $baseClass }}">
  <nav class="font-georgia text-lg">
    <div class="flex items-center justify-between lg:hidden">
      <a href="https://www.agendapropia.co/" target="_blank" rel="noopener noreferrer">
        <img class="w-24" src='{{ "images/agenda-propia.svg" | absURL }}' alt="Agenda propia">
      </a>
      <button class="text-white">
        <svg class="menu-bars fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path></svg>
      </button>
    </div>
    <div class="hidden items-center justify-between text-white lg:flex">
      <a href="https://www.agendapropia.co/" target="_blank" rel="noopener noreferrer">
        <img class="w-24" src='{{ "images/agenda-propia.svg" | absURL }}' alt="Agenda propia">
      </a>
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}
      <div class="flex items-center space-x-4">
        <a href="">
          <img src='{{ "images/tw.svg" | absURL }}' alt="">
        </a>
        <a href="">
          <img src='{{ "images/fb.svg" | absURL }}' alt="">
        </a>
      </div>
    </div>
  </nav>
</header>