{{ $pages := (slice "sobre" "datos") }}
{{ $static := in $pages .Type }}
<header class="px-4 py-2 bg-eerie-black w-full z-10 {{ if not $static }}absolute bg-opacity-85{{ end }}">
  <nav class="font-georgia text-lg">
    <div class="flex items-center justify-between lg:hidden">
      <a href="https://www.agendapropia.co/" target="_blank" rel="noopener noreferrer">
        <img class="w-24" src='{{ "images/agenda-propia.svg" | absURL }}' alt="Agenda propia">
      </a>
      <button class="text-white">
        <svg class="menu-bars fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"></path></svg>
      </button>
    </div>
    <div class="hidden items-center justify-between text-white lg:flex">
      <a href="https://www.agendapropia.co/" target="_blank" rel="noopener noreferrer">
        <img class="w-24" src='{{ "images/agenda-propia.svg" | absURL }}' alt="Agenda propia">
      </a>
      <a href="{{ .Site.BaseURL }}{{ .Language }}">{{ T "inicio" }}</a>
      <a href='{{ relref . "sobre-el-proyecto.md" }}'>Sobre la iniciativa</a>
      <a href='{{ relref . "pueblo-wayuu.md" }}'>Pueblo <strong>Wayuu</strong></a>
      <a href='{{ relref . "pueblo-guna-dule.md" }}'>Pueblo <strong>Guna Dule</strong></a>
      <a href='{{ relref . "pueblo-tikuna.md" }}'>Pueblo <strong>Tikuna</strong></a>
      <a href='{{ relref . "conoce-los-datos.md" }}'>Repositorio de datos</a>
      <div class="flex items-center space-x-4">
        <a href="">
          <img src='{{ "images/tw.svg" | absURL }}' alt="">
        </a>
        <a href="">
          <img src='{{ "images/fb.svg" | absURL }}' alt="">
        </a>
      </div>
    </div>
  </nav>
</header>