<div class="profile flex flex-col items-center py-4 px-1 cursor-pointer hover:shadow-2xl">
  <pre class="hidden">{{ . | jsonify }}</pre>
  <img class="object-cover object-center w-24 h-24 rounded-full" src='{{ .avatar | absURL }}' alt="">
  <div class="mt-2 font-playfair-display text-center text-lg leading-tight flex-grow">
    <p class="font-bold">{{ .nombre }}</p>
    <p class="italic text-base">{{ .cargo }}</p>
  </div>
  <button class="mt-4 text-lg text-eerie-black md:hidden">Ver más</button>
</div>