<div class="px-4 bg-white w-full mx-auto items-start gap-8 grid grid-cols-1 md:grid-cols-2 md:w-4/5" id="storytelling">
  <div id="steps" class="relative h-screen">
    <div id="step-1" class="absolute text-center w-full h-full flex flex-col justify-center">
      <h3 class="flex flex-col leading-none text-eerie-black font-bold text-3xl lg:text-5xl">
        <span>En Colombia hay</span>
        <span class="text-tropical-rain-forest text-4xl lg:text-6xl">1,905,617</span>
        <span>indígenas</span>
      </h3>
      <p class="mt-10 text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsum
        reprehenderit tenetur, mollitia sunt perspiciatis dignissimos, commodi, labore voluptates dicta veniam velit
        eum? Reprehenderit, expedita!</p>
      <p class="text-6xl text-center md:hidden">1</p>
    </div>
    <div id="step-2" class="absolute text-center w-full h-full flex flex-col justify-center opacity-0">
      <h3 class="flex flex-col leading-none text-eerie-black font-bold text-3xl lg:text-5xl">
        <span class="text-tropical-rain-forest text-4xl lg:text-6xl">xxx,xxx</span>
        <span>viven en zona</span>
        <span>de frontera</span>
      </h3>
      <p class="mt-10 text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsum
        reprehenderit tenetur, mollitia sunt perspiciatis dignissimos, commodi, labore voluptates dicta veniam velit
        eum? Reprehenderit, expedita!</p>
      <p class="text-6xl text-center md:hidden">2</p>
    </div>
    <div id="step-3" class="absolute text-center w-full h-full flex flex-col justify-center opacity-0">
      <h3 class="flex flex-col leading-none text-eerie-black font-bold text-3xl lg:text-5xl">
        <span>En departamentos</span>
        <span>fronterizos hay</span>
        <span class="text-tropical-rain-forest text-4xl lg:text-6xl">xx resguardos</span>
        <span class="text-tropical-rain-forest text-4xl lg:text-6xl">indígenas</span>
      </h3>
      <p class="mt-10 text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsum
        reprehenderit tenetur, mollitia sunt perspiciatis dignissimos, commodi, labore voluptates dicta veniam velit
        eum? Reprehenderit, expedita!</p>
      <p class="text-6xl text-center md:hidden">3</p>
    </div>
  </div>
  <div id="graphics">
    <div class="graphic h-screen flex flex-col justify-center items-center" data-step="step-1">
      <img src='{{ "images/home/textura-dataviz-1.gif" | absURL }}' alt="">
    </div>
    <div class="graphic h-screen flex flex-col justify-center items-center" data-step="step-2">
      <img src='{{ "images/home/textura-dataviz-2.gif" | absURL }}' alt="">
    </div>
    <div class="graphic h-screen flex flex-col justify-center items-center" data-step="step-3">
      <img src='{{ "images/home/textura-dataviz-3.gif" | absURL }}' alt="">
    </div>
  </div>
</div>