<div class="px-4 bg-white w-full mx-auto items-start gap-8 grid grid-cols-1 md:grid-cols-2 md:w-4/5" id="storytelling-tikuna">
  <div id="steps-tikuna" class="relative space-y-24 py-24 md:space-y-0 md:py-0">
    <div id="step-8" class="text-center w-full flex flex-col justify-center md:absolute md:h-screen">
      <h3 class="flex flex-col leading-none text-eerie-black font-bold text-2xl lg:text-4xl">
        <span>En Colombia, el</span>
        <span class="text-tropical-rain-forest text-3xl lg:text-5xl">pueblo Tikuna</span>
        <span>está integrado por</span>
        <span class="text-tropical-rain-forest text-3xl lg:text-5xl">13.842 personas</span>
      </h3>
      <p class="mt-10 text-lg lg:text-xl">Los Tikunas viven en la triple frontera amazónica compartida entre Colombia, Brasil y Perú. Del lado colombiano, su población consta de 7.003 hombres y 6.839 mujeres (DANE, 2018). Su lengua propia es el Tikuna.</p>
      <img class="self-center mt-6 md:hidden" src='{{ "images/home/8-tikuna.gif" | absURL }}' alt="">
    </div>
    <div id="step-9" class="text-center w-full flex flex-col justify-center md:absolute md:h-screen md:opacity-0">
      <h3 class="flex flex-col leading-none text-eerie-black font-bold text-2xl lg:text-4xl">
        <span>En el territorio amazónico colombiano</span>
        <span>que comparte fronteras con</span>
        <span class="text-tropical-rain-forest text-3xl lg:text-5xl">Brasil y Perú</span>
        <span>habitan</span>
        <span class="text-tropical-rain-forest text-3xl lg:text-5xl">152.891 indígenas</span>
      </h3>
      <p class="mt-10 text-lg lg:text-xl">Del lado colombiano de la frontera entre ambos países, en territorio chocoano, habitan 68.415 indígenas (DANE, 2018). Allí, los Gunadules se suman a los pueblos Emberá, Emberá Katío, Emberá Chamí, Emberá Dobidá y Wounan.</p>
      <img class="self-center mt-6 md:hidden" src='{{ "images/home/9-frontera-amazonas.gif" | absURL }}' alt="">
    </div>
  </div>
  <div id="graphics-wayuu" class="hidden md:block">
    <div class="graphic h-screen flex flex-col justify-center items-center" data-step="step-8">
      <img src='{{ "images/home/8-tikuna.gif" | absURL }}' alt="">
    </div>
    <div class="graphic h-screen flex flex-col justify-center items-center" data-step="step-9">
      <img src='{{ "images/home/9-frontera-amazonas.gif" | absURL }}' alt="">
    </div>
  </div>
</div>