<div class="px-4 bg-white w-full mx-auto items-start gap-8 grid grid-cols-1 md:grid-cols-2 md:w-4/5" id="storytelling-wayuu">
  <div id="steps-wayuu" class="relative">
    <div id="step-4" class="absolute text-center w-full h-screen flex flex-col justify-center">
      <h3 class="flex flex-col leading-none text-eerie-black font-bold text-2xl lg:text-4xl">
        <span>En total</span>
        <span class="text-tropical-rain-forest text-3xl lg:text-5xl">380.460</span>
        <span>personas se reconocen como parte del</span>
        <span class="text-tropical-rain-forest text-3xl lg:text-5xl">pueblo Wayuu</span>
      </h3>
      <p class="mt-10 text-lg lg:text-xl">De estas, 197.140 son mujeres y 183.320 hombres (DANE, 2018). Los Wayuu viven entre Colombia y Venezuela, y su lengua propia es el Wayuunaiki.</p>
      <p class="text-6xl text-center md:hidden">1</p>
    </div>
    <div id="step-5" class="absolute text-center w-full h-screen flex flex-col justify-center opacity-0">
      <h3 class="flex flex-col leading-none text-eerie-black font-bold text-2xl lg:text-4xl">
        <span>Colombia y Venezuela comparten</span>
        <span class="text-tropical-rain-forest text-3xl lg:text-5xl">2.219 km de frontera,</span>
        <span>en donde habitan</span>
        <span class="text-tropical-rain-forest text-3xl lg:text-5xl">542.043 indígenas</span>
      </h3>
      <p class="mt-10 text-lg lg:text-xl">En esta frontera, la mayoría de los indígenas hace parte del pueblo Wayuu (68,9%). El 31,1% restante pertenece, entre otros, a los pueblos U’wa, Yukpa, Bari, Sikuani, Curripaco, Piaroa, Puinave y Piapoco, y se organizan en resguardos ubicados en los departamentos de La Guajira, Cesar, Norte de Santander, Boyacá, Arauca, Vichada y Guainía.</p>
      <p class="text-6xl text-center md:hidden">2</p>
    </div>
  </div>
  <div id="graphics-wayuu">
    <div class="graphic h-screen flex flex-col justify-center items-center" data-step="step-4">
      <img src='{{ "images/home/4-wayuu.gif" | absURL }}' alt="">
    </div>
    <div class="graphic h-screen flex flex-col justify-center items-center" data-step="step-5">
      <img src='{{ "images/home/5-frontera-venezuela.gif" | absURL }}' alt="">
    </div>
  </div>
</div>