<div class="px-4 bg-white w-full mx-auto items-start gap-8 grid grid-cols-1 md:grid-cols-2 md:w-4/5" id="storytelling-gunadule">
  <div id="steps-gunadule" class="relative space-y-24 py-24 md:space-y-0 md:py-0">
    <div id="step-6" class="text-center w-full flex flex-col justify-center md:absolute md:h-screen">
      <h3 class="flex flex-col leading-none text-eerie-black font-bold text-2xl lg:text-4xl">
        <span>En Colombia</span>
        <span class="text-tropical-rain-forest text-3xl lg:text-5xl">2.610</span>
        <span>personas se reconocen como</span>
        <span class="text-tropical-rain-forest text-3xl lg:text-5xl">Gunadules</span>
      </h3>
      <p class="mt-10 text-lg lg:text-xl">El Gunadule (también conocido como Cuna Tule o Kuna) es un pueblo binacional que habita entre Colombia y Panamá. Del lado colombiano hay 1.280 mujeres y 1.330 hombres (DANE, 2018) que viven en dos resguardos: Maggilagundiwala en Chocó e Ibgigundiwala en Antioquia. Su lengua propia es el Dulegaya.</p>
      <img class="self-center mt-6 md:hidden" src='{{ "images/home/6-gunadule.gif" | absURL }}' alt="">
    </div>
    <div id="step-7" class="text-center w-full flex flex-col justify-center md:absolute md:h-screen md:opacity-0">
      <h3 class="flex flex-col leading-none text-eerie-black font-bold text-2xl lg:text-4xl">
        <span>Colombia y Panamá comparten</span>
        <span class="text-tropical-rain-forest text-3xl lg:text-5xl">266 km de frontera,</span>
        <span>ubicada en la</span>
        <span class="text-tropical-rain-forest text-3xl lg:text-5xl">región del Darién</span>
      </h3>
      <p class="mt-10 text-lg lg:text-xl">Del lado colombiano de la frontera entre ambos países, en territorio chocoano, habitan 68.415 indígenas (DANE, 2018). Allí, los Gunadules se suman a los pueblos Emberá, Emberá Katío, Emberá Chamí, Emberá Dobidá y Wounan.</p>
      <img class="self-center mt-6 md:hidden" src='{{ "images/home/7-frontera-panama.gif" | absURL }}' alt="">
    </div>
  </div>
  <div id="graphics-wayuu" class="hidden md:block">
    <div class="graphic h-screen flex flex-col justify-center items-center" data-step="step-6">
      <img src='{{ "images/home/6-gunadule.gif" | absURL }}' alt="">
    </div>
    <div class="graphic h-screen flex flex-col justify-center items-center" data-step="step-7">
      <img src='{{ "images/home/7-frontera-panama.gif" | absURL }}' alt="">
    </div>
  </div>
</div>