{{ define "meta" }}
<link rel="stylesheet" href='{{ "vendors/swiper/swiper.min.css" | absURL }}'>
{{ end }}

{{ define "main" }}
<!-- Slider -->
<div class="w-full relative h-screen">
  <div class="slider-content">
    <div class="w-full mx-auto text-white font-playfair-display text-center md:w-4/5">
      <h2 class="leading-tight border-4 border-white inline-block px-8 py-4 md:px-24">
        <span class="block text-4xl lg:text-5xl">Mujeres indígenas</span>
        <span class="font-bold text-5xl lg:text-6xl">en frontera</span>
      </h2>
      <p class="mt-10 max-w-lg mx-auto italic text-xl lg:text-3xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi illo atque voluptatem delectus repellendus quia qui ab esse alias?</p>
    </div>
  </div>
  <div class="swiper-container w-full h-full">
    <div class="swiper-wrapper">
      <div class="swiper-slide bg-center bg-cover bg-no-repeat" style='background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 100%), url({{ "images/home/slider-image-1.webp" | absURL }});'></div>
      <div class="swiper-slide bg-center bg-cover bg-no-repeat" style='background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 100%), url({{ "images/home/slider-image-2.webp" | absURL }});'></div>
      <div class="swiper-slide bg-center bg-cover bg-no-repeat" style='background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 100%), url({{ "images/home/slider-image-3.webp" | absURL }});'></div>
      <div class="swiper-slide bg-center bg-cover bg-no-repeat" style='background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 100%), url({{ "images/home/slider-image-4.webp" | absURL }});'></div>
      <div class="swiper-slide bg-center bg-cover bg-no-repeat" style='background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 100%), url({{ "images/home/slider-image-5.webp" | absURL }});'></div>
      <div class="swiper-slide bg-center bg-cover bg-no-repeat" style='background-image: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 25%, rgba(0, 0, 0, 0.4) 75%, rgba(0, 0, 0, 0) 100%), url({{ "images/home/slider-image-6.webp" | absURL }});'></div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>
<!-- Storytelling -->
<div class="px-4 py-24 bg-white w-full mx-auto items-start gap-8 grid grid-cols-1  md:grid-cols-2 md:w-4/5">
  <div>
    <div class="step text-center opacity-85" data-step="dataviz-1">
      <h3 class="flex flex-col leading-none text-eerie-black font-bold text-3xl lg:text-5xl">
        <span>En Colombia hay</span> 
        <span class="text-tropical-rain-forest text-4xl lg:text-6xl">1,905,617</span>
        <span>indígenas</span>
      </h3>
      <p class="mt-10 text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsum reprehenderit tenetur, mollitia sunt perspiciatis dignissimos, commodi, labore voluptates dicta veniam velit eum? Reprehenderit, expedita!</p>
      <p class="text-6xl text-center md:hidden">1</p>
    </div>
    <div class="step text-center opacity-85 pt-48" data-step="dataviz-2">
      <h3 class="flex flex-col leading-none text-eerie-black font-bold text-3xl lg:text-5xl">
        <span class="text-tropical-rain-forest text-4xl lg:text-6xl">xxx,xxx</span>
        <span>viven en zona</span> 
        <span>de frontera</span>
      </h3>
      <p class="mt-10 text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsum reprehenderit tenetur, mollitia sunt perspiciatis dignissimos, commodi, labore voluptates dicta veniam velit eum? Reprehenderit, expedita!</p>
      <p class="text-6xl text-center md:hidden">2</p>
    </div>
    <div class="step text-center opacity-85 pt-48" data-step="dataviz-3">
      <h3 class="flex flex-col leading-none text-eerie-black font-bold text-3xl lg:text-5xl">
        <span>En departamentos</span> 
        <span>fronterizos hay</span>
        <span class="text-tropical-rain-forest text-4xl lg:text-6xl">xx resguardos</span>
        <span class="text-tropical-rain-forest text-4xl lg:text-6xl">indígenas</span>
      </h3>
      <p class="mt-10 text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsum reprehenderit tenetur, mollitia sunt perspiciatis dignissimos, commodi, labore voluptates dicta veniam velit eum? Reprehenderit, expedita!</p>
      <p class="text-6xl text-center md:hidden">3</p>
    </div>
  </div>
  <div class="hidden relative sticky top-0 md:block">
    <img id="dataviz-1" class="absolute top-0 left-0 mx-auto" src='{{ "images/home/textura-dataviz-1.gif" | absURL }}' alt="">
    <img id="dataviz-2" class="absolute top-0 left-0 mx-auto" src='{{ "images/home/textura-dataviz-2.gif" | absURL }}' alt="" style="opacity: 0;">
    <img id="dataviz-3" class="absolute top-0 left-0 mx-auto" src='{{ "images/home/textura-dataviz-3.gif" | absURL }}' alt="" style="opacity: 0;">
  </div>
</div>
<!-- Pueblo Wayuu -->
<div class="px-4 py-24 bg-center bg-no-repeat bg-cover relative z-10" style='background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 100%), url({{ "images/textura-home.webp" | absURL }});'>
  <div class="w-full mx-auto text-white font-playfair-display md:w-4/5">
    <div class="w-full md:w-2/3 lg:w-1/2">
      <h2 class="leading-tight">
        <span class="block text-4xl lg:text-5xl">Pueblo</span>
        <span class="font-bold text-5xl lg:text-6xl">Wayuu</span>
      </h2>
      <p class="mt-10 text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi illo atque voluptatem delectus repellendus quia qui ab esse alias?</p>
    </div>
    <a href='{{ relref . "pueblo-wayuu.md" }}' class="inline-block font-bold border-white border-2 px-4 py-2 mt-10 hover:bg-white hover:text-eerie-black text-xl lg:text-2xl">
      Conoce sus historias
    </a>
  </div>
</div>
<div class="px-4 py-24 bg-white w-full mx-auto gap-8 grid grid-cols-1 md:grid-cols-2 md:w-4/5">
  <div class="text-center">
    <h3 class="flex flex-col leading-none text-eerie-black font-bold text-3xl lg:text-5xl">
      <span>En departamentos</span> 
      <span>fronterizos hay</span>
      <span class="text-tropical-rain-forest text-4xl lg:text-6xl">xx resguardos</span>
    </h3>
    <p class="mt-10 text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsum reprehenderit tenetur, mollitia sunt perspiciatis dignissimos, commodi, labore voluptates dicta veniam velit eum? Reprehenderit, expedita!</p>
  </div>
  <div></div>
</div>
<!-- Pueblo Tikuna -->
<div class="px-4 py-24 bg-center bg-no-repeat bg-cover" style='background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 100%), url({{ "images/textura-home.webp" | absURL }});'>
  <div class="w-full mx-auto text-white font-playfair-display md:w-4/5">
    <div class="w-full md:w-2/3 lg:w-1/2">
      <h2 class="leading-tight">
        <span class="block text-4xl lg:text-5xl">Pueblo</span>
        <span class="font-bold text-5xl lg:text-6xl">Tikuna</span>
      </h2>
      <p class="mt-10 text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi illo atque voluptatem delectus repellendus quia qui ab esse alias?</p>
    </div>
    <a href='{{ relref . "pueblo-tikuna.md" }}' class="inline-block font-bold border-white border-2 px-4 py-2 mt-10 hover:bg-white hover:text-eerie-black text-xl lg:text-2xl">
      Conoce sus historias
    </a>
  </div>
</div>
<div class="px-4 py-24 bg-white w-full mx-auto gap-8 grid grid-cols-1 md:grid-cols-2 md:w-4/5">
  <div class="text-center">
    <h3 class="flex flex-col leading-none text-eerie-black font-bold text-3xl lg:text-5xl">
      <span>En departamentos</span> 
      <span>fronterizos hay</span>
      <span class="text-tropical-rain-forest text-4xl lg:text-6xl">xx resguardos</span>
    </h3>
    <p class="mt-10 text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsum reprehenderit tenetur, mollitia sunt perspiciatis dignissimos, commodi, labore voluptates dicta veniam velit eum? Reprehenderit, expedita!</p>
  </div>
  <div></div>
</div>
<!-- Pueblo Guna Dule -->
<div class="px-4 py-24 bg-center bg-no-repeat bg-cover" style='background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 100%), url({{ "images/textura-home.webp" | absURL }});'>
  <div class="w-full mx-auto text-white font-playfair-display md:w-4/5">
    <div class="w-full md:w-2/3 lg:w-1/2">
      <h2 class="leading-tight">
        <span class="block text-4xl lg:text-5xl">Pueblo</span>
        <span class="font-bold text-5xl lg:text-6xl">Guna Dule</span>
      </h2>
      <p class="mt-10 text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae animi illo atque voluptatem delectus repellendus quia qui ab esse alias?</p>
    </div>
    <a href='{{ relref . "pueblo-guna-dule.md" }}' class="inline-block font-bold border-white border-2 px-4 py-2 mt-10 hover:bg-white hover:text-eerie-black text-xl lg:text-2xl">
      Conoce sus historias
    </a>
  </div>
</div>
<div class="px-4 py-24 bg-white w-full mx-auto gap-8 grid grid-cols-1 md:grid-cols-2 md:w-4/5">
  <div class="text-center">
    <h3 class="flex flex-col leading-none text-eerie-black font-bold text-3xl lg:text-5xl">
      <span>En departamentos</span> 
      <span>fronterizos hay</span>
      <span class="text-tropical-rain-forest text-4xl lg:text-6xl">xx resguardos</span>
    </h3>
    <p class="mt-10 text-lg lg:text-xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil ipsum reprehenderit tenetur, mollitia sunt perspiciatis dignissimos, commodi, labore voluptates dicta veniam velit eum? Reprehenderit, expedita!</p>
  </div>
  <div></div>
</div>
<!-- Explora el mapa interactivo -->
<div class="px-4 py-24 bg-center bg-no-repeat bg-cover" style='background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0) 100%), url({{ "images/explora-mapa-interactivo.webp" | absURL }});'>
  <div class="w-full mx-auto text-white font-playfair-display md:w-4/5">
    <div class="w-full md:w-2/3 lg:w-1/2">
      <h2 class="leading-tight">
        <span class="block text-4xl lg:text-5xl">Explora el</span>
        <span class="font-bold text-5xl lg:text-6xl">Mapa interactivo</span>
      </h2>
    </div>
    <a href="" class="inline-block font-bold border-white border-2 px-4 py-2 mt-10 hover:bg-white hover:text-eerie-black text-xl lg:text-2xl">
      Ir al mapa
    </a>
  </div>
</div>
{{ end }}

{{ define "scripts" }}
<script src='{{ "vendors/swiper/swiper.min.js" | absURL }}'></script>
<script src='{{ "vendors/scrollama/scrollama.min.js" | absURL }}'></script>
{{ $home_js := resources.Get "js/home.js" | minify }}
<script src="{{ $home_js.Permalink }}"></script>
{{ end }}