<style>
  .full-width {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    right: 50%;
    width: 100vw;
  }
  .figure-media {
    padding-bottom: 66.66667%;
  }
</style>

<figure class="full-width relative">
  <div class="figure-media w-full relative">
    <img class="absolute h-full w-full object-cover object-center" src='{{ .Get "src" | safeHTMLAttr }}' alt='{{ .Get "title" }}'>
  </div>
  <div class="markup-container mt-2 px-4">
    <p class="text-center text-sm text-gray-700 md:text-base">{{ .Inner }}</p>
  </div>
</figure>